small,
.cormorant {
  font-family: 'Cormorant Garamond';
}

.anton {
  font-family: 'Anton';
}

h1,
body,
p,
h2,
a,
.sen {
  font-family: 'sen';
}

h1.big {
  font-size: 3em;
}

p.big {
  font-size: 1.2em;
}
small {
  font-size: 0.7em;
}

h1 {
  font-size: 2em;
}

a {
  color: @lightGray;

  &:hover {
    color: @fluorescentGreen;
  }
}

h1,
h2 {
  color: @white;
}
