small,
.bellota {
  font-family: 'Bellota';
}

.anton {
  font-family: 'Anton';
}

h1,
body,
p,
h2,
a,
.sen {
  font-family: 'sen';
}

small {
  font-size: 0.7em;
}

h1 {
  font-size: 2em;
}

a {
  color: @lightGray;

  &:hover {
    color: @fluorescentGreen;
  }
}

h1,
h2 {
  color: @white;
}
